<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title}}</title>

  {{!-- <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" type="text/css" /> --}}
</head>

<body>
  <h1>{{title}}</h1>
  <p>This is an example of a basic authentication REST API. There have been no security considerations
    aside from hashing the password on the server. <br> This system will eventually be used in a full stack project, Kwizzy. 
    It is planned on being a drag/drop/WYSIWYG quiz/form builder.
  </p>
  <form class="color-search" method="post" action="/signup" id="signup">
    <h1 id="result">Login or sign up</h1>
    Credentials:
    <input id="email" name="email" placeholder="krisb1220@gmail.com" required="required" type="email" />
    <input id="password" name="password" placeholder="password" required="required" type="password" />

    <button type="submit" id="sub">Submit</button>
  </form>
  <input type="checkbox" id="login-type" />Login not signup?


  <div id="attributions">
    <p class="name">Created by Kris Baillargeon</p>
    <a href="https://github.com/krisb1220" class="github">Visit me on Github</a>
  </div>


</body>
<script>
  let formData = new FormData(document.forms.signup)

  document.querySelector("#signup").addEventListener("change", (e) => {
    formData = new FormData(document.forms.signup)
  })

  document.querySelector("#signup").addEventListener("submit", (e) => {
    e.preventDefault();
    let isChecked = document.querySelector("#login-type").checked
    let url = document.querySelector("#login-type").checked ? "/login" : "/signup";
    data = {
      email: formData.get("email"),
      password: formData.get("password")
    }

    fetch(url, { method: "POST", headers: { "Content-Type": "application/json" }, body: JSON.stringify(data) }).then(response => console.log(response.status) || response)
      .then(response => response.json())
      .then((body) => {
          document.querySelector("#result").innerText = body.message;
          
          if(body.success && isChecked) {
            setCookie("user", body.user)
          }

          if(getCookie("user")){
            console.log("already signed in")
          }
      })
  });

</script>

</html>